@model dynamic
@{
    ViewData["Title"] = "Please Populate the Form";
}
<h2>@ViewData["Title"]</h2>

@{
    var fields = Model.fields.target;
    var lastComment = Model.receivedComments.Count > 0 ? Model.receivedComments[0] : "";

    var guidanceNotes = Model.summary.guidanceNotes.Count > 0 ? Model.summary.guidanceNotes[0].display : "";
}


@if (lastComment != "")
{
    <p></p>
    <h3>This has been previously rejected</h3>
    <p></p>
    <h4>@lastComment</h4>
    <p />
}

@if (guidanceNotes!= "")
{
    <p></p>
    <h3>Guidance Notes</h3>
    <p></p>
    <h4>@guidanceNotes</h4>
    <p />
}

@using (Html.BeginForm("SubmitAction", "Home", FormMethod.Post))
{
    <input type="hidden" value="@Model.summary.previousStepId" class"text" id="previousStepId" name="previousStepId" />
    <p>

        @foreach (var field in fields)
        {
            var label = field.schemaField.label;
            var labelDisplay = label[0].display;
            var id = field.schemaField.id;
            var defaultValue = field.mostRecentlyRejectedValue == null ? "" : field.mostRecentlyRejectedValue;

            var type = field.schemaField.type;

            var help = field.schemaField.help.Count > 0 ? field.schemaField.help[0].display : "";


            <br />
           
            @if (help != "")
            {
                @help
                <br/>
            }
            @labelDisplay

            if (type == "Number")
            {
                <input type="number" class="text " placeholder="@labelDisplay" id="@id" name="@id" value="@defaultValue" />
            }
            else if (type == "Date")
            {
                <input type="hidden" class="text " placeholder="@labelDisplay" id="@id" name="@id" value="@defaultValue" />
                <input type="date" class="text " placeholder="@labelDisplay" id="xxx-@id" name="xxx-@id" value="@defaultValue" />
            }
            else if (type == "Checkbox")
            {
                <input type="checkbox" class="text " id="@id" name="@id" value="@defaultValue" />
            }
            else if (type == "MultiOption")
            {
                var options = field.schemaField.options;
                <select name="@id" id="@id">

                    @foreach (var option in options)
                    {
                        var display = option.input[0].display;
                        var value = option.value;

                        if (value == defaultValue)
                        {
                            <option value="@value" selected>@display</option>
                        }
                        else
                        {
                            <option value="@value">@display</option>
                        }

                    }

                </select>
            }
            else
            {
                <input type="text" class="text " placeholder="@labelDisplay" id="@id" name="@id" value="@defaultValue" />
            }

        }

        <BR />
        <input type="submit" class="submit" value="Submit" />
    </p>
}


<script language="javascript">

    $(document).ready(function () {
        $('input[type=date]').each(function () {
            var actualField = $("#" + getCorrectFieldName($(this).attr("name")));
            if ($(actualField).val() != "") {
                $(this).val(convertEpochToDateString(+$(actualField).val()));
            }
        })

        $('input[type=checkbox]').each(function () {
            if ($(this).val() == "true") {
                $(this).prop('checked');
            }
            else {
                $(this).prop('checked', false);
            }
        });

        $('input[type=date]').blur(function () {
            var dateStr = $(this).val();
            if (dateStr == "") {
                $("#" + getCorrectFieldName($(this).attr("name"))).val("");
                return;
            }
            var formattedDays = dateStr.split("-");
            var epoch = new Date(formattedDays[0], formattedDays[1] - 1, formattedDays[2]).valueOf() / 1000;
            $("#" + getCorrectFieldName($(this).attr("name"))).val(epoch);
        })


        $('input[type=submit]').click(function () {
            $('input[type=checkbox]').each(function () {
                if ($(this).prop('checked')) {
                    $(this).val("true");
                }
                else {
                    $(this).val("false");
                }
            })
        });

    });


    function getCorrectFieldName(id) {
        return id.replace("xxx-", "");
    }

    function convertEpochToDateString(epoch) {
        var date = new Date(epoch * 1000);
        var curr_date = date.getDate();
        var curr_month = date.getMonth() + 1;
        var curr_year = date.getFullYear();
        return curr_year + "-" + (curr_month.toString().length == 1 ? "0" + curr_month : curr_month) + "-" + (curr_date.toString().length == 1 ? "0" + curr_date : curr_date);
    }
</script>