@model dynamic
@{
    ViewData["Title"] = "API";
}
<h2>@ViewData["Title"]</h2>



@{
    var fields = Model.fields.target;


}


@using (Html.BeginForm("SubmitAction", "Home", FormMethod.Post))
{
    <input type="hidden" value="@Model.summary.previousStepId" class"text" id="previousStepId" name="previousStepId" />
    <p>
        @foreach (var field in fields)
        {
            var label = field.schemaField.label;
            var labelDisplay = label[0].display;
            var id = field.schemaField.id;

            var type = field.schemaField.type;

            @labelDisplay

            if (type == "Number")
            {
                <input type="number" class="text " placeholder="@labelDisplay" id="@id" name="@id" />
            }
            else if (type == "Date")
            {
                <input type="hidden" class="text " placeholder="@labelDisplay" id="@id" name="@id" />
                <input type="date" class="text " placeholder="@labelDisplay" id="xxx-@id" name="xxx-@id" onchange="updateDateField('@id')" />
            }
            else
            {
                <input type="text" class="text " placeholder="@labelDisplay" id="@id" name="@id" />
            }

        }

        <BR />
        <input type="submit" class="submit" value="Submit" />
    </p>
}

<script language="javascript">

    function updateDateField(id) {
        console.log("test");
        var dateStr = $("#xxx-" + id).val();
        var formattedDays = dateStr.split("-");
        var epoch = new Date(formattedDays[0], formattedDays[1] - 1, formattedDays[2]).valueOf() / 1000;
        $("#" + id).val(epoch);
    }
</script>