@model List<DataTable>
@using System.Data;
@{
    ViewData["Title"] = "Progress";
}
<h1>@ViewData["Title"]</h1>



@ViewData["Progress"]

@foreach (var table in Model)
{
    <br />
    <h3>@table.TableName</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                @foreach (DataColumn col in table.Columns)
                {
                    <th>@col.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in table.Rows)
            {
                <tr>
                    @foreach (DataColumn col in table.Columns)
                    {
                        <td>@row[col.ColumnName]</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

